@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

$backgroundImageDesktop: url('../images/background-pattern-desktop.svg');
$backgroundImageMobile: url('../images/background-pattern-mobile.svg');


// Colors
$white: hsl(0, 0%, 100%);
$light-pink: hsl(275, 100%, 97%);
$grayish-purple: hsl(292, 16%, 49%);
$dark-purple: hsl(292, 42%, 14%);
$active-states: hsl(281, 83%, 54%);

//fonts
$WorkSans: "Work Sans", sans-serif;
