@import './assets/components/variables/reset.scss';
@import './assets/components/variables/variables.scss';


.App {
  width: 100vw;
  height: 100vh;
  background-image: $backgroundImageMobile;
  background-position: top; 
  background-repeat: no-repeat; 
  background-size: 100% auto;
  background-color: $light-pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $WorkSans;
 
  @media screen and (min-width: 800px)  {
    background-image: $backgroundImageDesktop; 
  }
  &__FaqContainer {
    width: clamp(20.4375rem, 50%, 37.5rem);
    background-color: $white;
    margin: 1.5rem;
    border-radius: 1rem;
    padding: 1.5rem;
  &__header {
    display: flex;
    &__faqStarImage {
      padding-right: 1.5rem;

    }

  }
  }
}

